<%- include("partials/header") %>

<section class="dark main">
  <h1>About</h1>
  <div class="row">
    <div class="col-lg-8 col-md-12 about-paragraph">
      <p>Hello, my name is Endre Újvári and I enjoy creating things on the internet. My interest in web development started in my early career, when I had the opportunity to create an angular web application in my workplace. </p>
      <p>Later I had the opportunity to start my own company and work as a freelance developer. My main focus is building responsive web sites as well as creating stunning web design and other web products for a variety of clients.</p>
      <p>I’m a well-organised person, problem solver, I have high attention to details. I love to travel, do outdoor activities and also playing guitar. </p>
      <p>A few technologies I’ve been working with recently: JavaScript (ES6+), React, Node.js, TypeScript, HTML, CSS, APIs, MongoDB.</p>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="" >
        <img class="about-profile-picture" src="images/pp5.jpg" alt="My profile picture">
      </div>
    </div>
    <button class="about-button light-button" type="button" id="contact_button">Let’s work together!</button>
  </div>

</section>

<section class="main-card">
  <div class="row">
    <div class="col-lg-6 col-md-12" style="display: flex;">
      <div class="white-card" style="flex: 1;">
        <h2>Core skills</h2>
        <ul class="about-list">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>APIs</li>
          <li>Node.js</li>
          <li>React</li>
          <li>Angular</li>
          <li>MongoDB</li>
          <li>MySQL</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-12" style="display: flex;">
      <div class="blue-card" style="flex: 1;">
        <h2>Resume</h2>
        <div class="about-resume">
          <a href="files/Resume.pdf" target="_blank">
            <img width="50%" src="images/CV_2022.png" alt="My Resume">
          </a>
        </div>
        <button id="download_button" class="light-button" type="button">Download PDF</button>
        <a href="files/Resume.pdf" download id="download" hidden></a>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    document.getElementById("contact_button").onclick = function () {
        location.href = "/contact";
    };
    document.getElementById("download_button").onclick = function () {
      document.getElementById('download').click();
    };
</script>
<!-- Animation -->
<script type="text/javascript">
  // Contact Button
  const contactButton = document.getElementById("contact_button");
  contactButton.addEventListener("mouseover", function() {
    anime({
      targets: this,
      width: "35%",
      scale: {
        value: 1.1
      },
      duration: 800,
      backgroundColor: "#00e5a6",
      color: "#161a34",
      fontWeight: 900,
      boxShadow: "10px 10px 5px black"
    })
  });

  contactButton.addEventListener("mouseout", function() {
    anime({
      targets: this,
      width: "30%",
      scale: {
        value: 1
      },
      duration: 800,
      backgroundColor: "#fefdff",
      color: "#161a34",
      fontWeight: 700,
      boxShadow: "0px 0px black"
    })
  });

  // Download button
  const downloadButton = document.getElementById("download_button");
  downloadButton.addEventListener("mouseover", function() {
    anime({
      targets: this,
      width: "50%",
      scale: {
        value: 1.1
      },
      duration: 800,
      backgroundColor: "#00e5a6",
      color: "#161a34",
      fontWeight: 900,
      boxShadow: "10px 10px 5px black"
    })
  });

  downloadButton.addEventListener("mouseout", function() {
    anime({
      targets: this,
      width: "40%",
      scale: {
        value: 1
      },
      duration: 800,
      backgroundColor: "#fefdff",
      color: "#161a34",
      fontWeight: 700,
      boxShadow: "0px 0px black"
    })
  });
</script>

<%- include("partials/footer") %>
