<%- include("partials/header") %>

<section class="dark main">
  <h1>Want to <span class="highlight">reach out</span>?</h1>
  <h5>Send me an <span class="highlight">email</span> to <a href="mailto:info@endreujvari.com?subject=Message from endreujvari.com!">info@endreujvari.com</a> or alternatively find me on my <span class="highlight">social networks</span>: </h5>
  <div class="row contact-links">
    <div class="col">
      <a href="https://www.linkedin.com/in/endreujvari/" target="_blank">
        <i class="fa-brands fa-linkedin-in fa-2xl"></i>
        <p>LinkedIn</p>
      </a>
    </div>
    <div class="col">
      <a href="https://github.com/UjvariEndre" target="_blank">
        <i class="fa-brands fa-github fa-2xl"></i>
        <p>GitHub</p>
      </a>
    </div>
    <div class="col">
      <a href="https://www.facebook.com/ujvari.endre/" target="_blank">
        <i class="fa-brands fa-facebook-f fa-2xl"></i>
        <p>Facebook</p>
      </a>
    </div>
    <div class="col">
      <a href="mailto:info@endreujvari.com?subject=Message from endreujvari.com!">
        <i class="fa-solid fa-envelope fa-2xl"></i>
        <p>Email</p>
      </a>
    </div>
  </div>
</section>

<section class="main-card">
  <%- include("partials/send_message") %>
</section>

<%- include("partials/footer") %>
