<%- include("partials/header") %>

<main class="home">

  <section class="first">
    <h1>Full Stack Developer.</h1>
    <h4>Hi, I'm Endre, I like to make solid and responsive products with great user experiences.</h4>
  </section>

  <section class="second">
    <div class="row">
      <div class="col">
        <h1>What I do</h1>
      </div>
      <div class="col">
        <h4>UI/UX Design</h4>
        <h4>Web Development</h4>
        <h4>Animation</h4>
        <h4>Web Deployment</h4>
      </div>
    </div>
  </section>

  <section class="third">
    <div class="row">
      <div class="col">
        <h1>Demo projects</h1>
        <h4>Future projects will appear here.</h4>
      </div>
    </div>
  </section>

  <section class="fourth">
    <div class="row">
      <div class="col">
        <h1>Send me a message!</h1>
        <h4>Have questions? Have a proposal? Want a small modification? Please contact me.</h4>
      </div>
      <div class="col">
        <form action="https://formspree.io" method="post" target="_blank">
          <input type="hidden" name="_subject" value="Message from endreujvari.com!">
          <div data-id="full-name">
            <label for="full-name">Your Name</label>
            <input id="full-name" placeholder="Enter your name" type="text" name="name" required="required">
          </div>
          <div data-id="email">
            <label for="email">Email Address</label>
            <input id="email" placeholder="Enter your email address" type="email" name="_replyto" required="required">
          </div>
          <div data-id="message">
            <label for="message">Your Message</label>
            <textarea placeholder="Hi Endre, we need a website for our company. When can we talk about the details?" name="message" rows="7" cols="30"></textarea>
          </div>
          <button type="submit" name="submit">Send</button>
        </form>
      </div>
    </div>
  </section>

</main>

<%- include("partials/footer") %>
