<%- include("partials/header") %>

<main>

  <section class="dark main">
    <h1>Full Stack <span class="highlight">Developer</span>.</h1>
    <h6>Hi, I'm Endre, I like to make solid and responsive products with great user experiences.</h6>
  </section>

  <section class="main-card">
    <div class="row">
      <div class="col-lg-6 col-md-12" style="display: flex;">
        <div class="white-card" style="flex: 1;">
          <h1>What I do</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="blue-card separate-lines">
          <h4>UI/UX Design</h4>
          <h4>Web Development</h4>
          <h4>Animation</h4>
          <h4>Web Deployment</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="dark main">
    <div class="row">
      <div class="col">
        <h1>Demo <span class="highlight">projects</span></h1>
        <h4>Future projects will appear here.</h4>
      </div>
    </div>
  </section>

  <section class="main-card">
    <%- include("partials/send_message") %>
  </section>

</main>

<%- include("partials/footer") %>
