<%- include("partials/header") %>

<section class="dark main">
  <h1>Portfolio</h1>
</section>

<section class="main-card">
  <div class="row">
    <div class="white-card">
      <p>Future projects will appear here.</p>
    </div>
  </div>
</section>

<%- include("partials/footer") %>
