body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

footer {
  text-align: center;
}

h1 {
  margin-bottom: 5%;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
}

h4 {
  font-size: 2.5rem;
  font-weight: 600;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
}

h6 {
  font-size: 1.5rem;
  font-weight: 600;
}

li {
  padding-bottom: 5%;
}

ul {
  margin-top: 15%;
  font-size: 2rem;
}

.about-button {
  margin: 5% 12px;
  min-width: 236px;
  width: 30%;
}

.about-list {
  margin-top: 10%;
}

.about-list li {
  padding-bottom: 1%;
}

.about-paragraph {
  font-size: 1.5rem;
  padding-right: 10%
}

.about-profile-picture {
  width: 100%;
}

.about-resume {
  margin: 10% 0;
  text-align: center;
}

.blue-card {
  margin: 3%;
  padding: 10%;
  background-color: #425df8;
  border-radius: 15px;
  color: #fefdff;
}

.contact-links {
  margin: 10%;
  font-size: 2rem;
  text-align: center;
}

.dark {
  background-color: #161a34;
  color: #fefdff;
}

.dark a {
  color: #fefdff;
  text-decoration: none;
}

.dark a:hover {
  color: #00e5a6;
}

.dark-card {
  margin: 3%;
  padding: 10%;
  background-color: #161a34;
  border-radius: 15px;
  color: #fefdff;
}

.dark-button {
    background-color: #161a34;
    border: none;
    border-radius: 5px;
    color: #fefdff;
    display: block;
    width: 50%;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-link {
  margin: 3%
}

.footer-link a {
  padding: 1%;
}

.form-row {
  margin: 5% 3%;
}

.header {
  margin: 0;
  padding: 5% 10%;
}

.home-button {
  margin-top: 10%;
  background-color: #425df8;
  border: none;
  border-radius: 5px;
  color: #fefdff;
  display: block;
  min-width: 250px;
  width: 30%;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 700;
}

.highlight {
  color: #425df8;
}

.light-button {
    background-color: #fefdff;
    border: none;
    border-radius: 5px;
    color: #161a34;
    display: block;
    min-width: 250px;
    width: 30%;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
}

.logo {
  font-family: "Major Mono Display";
}

.main {
  padding: 5% 10%;
}

.main-card {
  background-color: #dedee0;
  padding: 5% 10%;
}

.white-card {
  margin: 3%;
  padding: 10%;
  background-color: #fefdff;
  border-radius: 15px;
}

.separate {
  margin-right: 4%;
}

.separate-lines h4 {
  margin-bottom: 30px;
}

.white-card h1 {
  color: #161a34;
}

#contact_button {
  min-width: 300px;
}

#modal-close-button:hover {
  color: #F50F4A;
  cursor: pointer;
}

@media (max-width: 1240px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }

  ul {
    font-size: 1.5rem;
  }

  .about-paragraph {
    font-size: 1rem;
  }

  .contact-links {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .about-profile-picture {
    width: 70%;
    margin: 10%;
  }

  .contact-links {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .about-profile-picture {
    width: 90%;
    margin: 10% 0;
  }

  .contact-links {
    margin: 10% 2%;
  }
}
