body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

footer {
  text-align: center;
}

h1 {
  margin-bottom: 5%;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
}

h4 {
  font-size: 2.5rem;
  font-weight: 600;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
}

h6 {
  font-size: 1.5rem;
  font-weight: 600;
}

li {
  padding-bottom: 5%;
}

ul {
  margin-top: 15%;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.content {
  font-family: "Poppins";
}

.dark {
  background-color: #161a34;
  color: #fefdff;
}

.dark a {
  color: #fefdff;
  text-decoration: none;
}

.dark a:hover {
  color: #00e5a6;
}

.header {
  margin: 0;
  padding: 5% 10%;
}

.highlight {
  color: #425df8;
}

.main {
  padding: 5% 10%;
}

.main-card {
  background-color: #dedee0;
  padding: 5% 10%;
}

.white-card {
  margin: 3%;
  padding: 10%;
  background-color: #fefdff;
  border-radius: 15px;
}

.blue-card {
  margin: 3%;
  padding: 10%;
  background-color: #425df8;
  border-radius: 15px;
  color: #fefdff;
}

.dark-card {
  margin: 3%;
  padding: 10%;
  background-color: #161a34;
  border-radius: 15px;
  color: #fefdff;
}

.white-card h1 {
  color: #161a34;
}

.separate {
  margin-right: 4%;
}

.separate-lines h4 {
  margin-bottom: 30px;
}

.form-row {
  margin: 5% 3%;
}

.footer-link {
  margin: 3%
}

.footer-link a {
  padding: 1%;
}

.contact-links {
  margin: 10%;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1240px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }

  ul {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .contact-links {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .contact-links {
    font-size: 1rem;
  }

  #experience-card {
    background-color: #fefdff;
    color: black;
  }
}

@media (max-width: 600px) {
  .contact-links {
    margin: 10% 2%;
  }
}
